<% is_calculation_type_allowed = User.current.allowed_to?(:edit_done_ratio_calculation_type, issue.project) %>

<%= fields_for :issue, issue do |f| %>
  <p>
    <label><%=l(:field_done_ratio)%></label>
    <%= f.number_field :done_ratio, in: 0..100, required: @issue.required_attribute?('done_ratio') %>
  </p>
  <% if is_calculation_type_allowed %>
    <p>
      <label><%=l(:field_done_ratio_calculation_type)%></label>
      <span class="check_box_group">
        <%= f.collection_radio_buttons :done_ratio_calculation_type, Issue::DONE_RATIO_CALCULATION_TYPES.map { |num, label| [num, l(label)] }, :first, :second do |b| %>
          <%
            default_mode = DoneRatioSetup.default_calculation_type(issue.project)

            is_disabled =
              if DoneRatioSetup.settings[:global][:trackers_with_disabled_manual_mode].to_a.include?(issue.tracker_id.to_s)
                if b.object.first == Issue::CALCULATION_TYPE_DEFAULT
                  true if default_mode == Issue::CALCULATION_TYPE_MANUAL
                elsif b.object.first == Issue::CALCULATION_TYPE_MANUAL
                  true
                end
              end

            label_params = if default_mode.eql?(b.object.first)
              { style: 'font-weight:bold;', :"data-is-default" => true }
            else
              {}
            end

            if is_disabled
              if label_params[:style]
                label_params[:style] += ' color:grey;'
              else
                label_params[:style] = 'color:grey;'
              end
            end
          %>
          <% b.label(label_params) { (is_disabled ? b.radio_button(disabled: true) : b.radio_button) + b.text } %>
        <% end %>
      </span>
    </p>
  <% end %>
<% end %>

<% if is_calculation_type_allowed %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[type="radio"][name="issue[done_ratio_calculation_type]"]').change(function() {
        var defaultMode = $('label[data-is-default="true"] input[type="radio"]').val();
        var defaultModeButton = '<%= Issue::CALCULATION_TYPE_DEFAULT %>';
        var manualMode = '<%= Issue::CALCULATION_TYPE_MANUAL %>';
        var currentMode = $('input[type="radio"][name="issue[done_ratio_calculation_type]"]:checked').val();
        if($('#issue_done_ratio').length > 0) {
          if(currentMode == manualMode || (currentMode == defaultModeButton && defaultMode == manualMode)) {
            $('#issue_done_ratio').parent().show();
          } else $('#issue_done_ratio').parent().hide();
        }
      }).trigger('change');
    });
  </script>
<% end %>
